<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>

</head>
<body>
<div class="container">
    <h2>Cambiar Contraseña</h2>
    <form id="changePasswordForm">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <label for="confirmPassword">Repetir Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button type="button" onclick="changePassword()">Cambiar Contraseña</button>
    </form>
</div>

</body>
</html>
